@tailwind base;
@tailwind components;
@tailwind utilities;

.rbc-header{
    background:#bce3bc;
    color:black;
}



.rbc-event{
    color:black;
    font-size:16px;
    background:#97ff97  !important;
}
.rbc-off-range-bg{
    background:#c6fddd45 !important;
}
.rbc-toolbar{
    background: #d7fff8 !important;
    border:
}
.rbc-active{
    background: #eefdff !important;
}

/* .rbc-events-container{
    background:orange !important; 
} */

